/* pc버전css 시작*/
/* 탑바 CSS 시작 */
.pc_top_bar{
    height:80px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.con{
    width: var(--site-width);
    margin-left: auto;
    margin-right: auto; 
    height: 100%;
    display: flex;
}
.con > a:first-child{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.con > a:first-child > img{
    height: 70px;
    z-index: 2;
}
.menu_area{
    display: flex;
    margin-left: auto;
}
.menu_1{
    align-items: center;
}

.menu_1 > .menu_1_ul{
    height: 100%;
    display: flex;
}
.menu_1 > .menu_1_ul > li > a{
    display: flex;
    height:100%;
    padding:10px;
    align-items: center;
}
.buy_btn{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 60%;
    display: flex;
    align-items: center;
    background-color: #FFDD00;
    border-radius: 23px;
    padding-left: 13px;
    padding-right: 13px;
}
.globe{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.globe_area{
    width:50px;
    padding:13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.globe_img{

    width:25px
}

.menu_1 > .menu_1_ul > li:hover > a{
    text-decoration: underline;
    position: relative;

}
.menu_1 > .menu_1_ul > li:hover > a{
    text-decoration: underline;
    position: relative;

}
.menu_1 > .menu_1_ul > li> a::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: black;
}
.menu_1 > .menu_1_ul > li:hover> a::after{
    width: 100%;
    transition: width .2s;
}
/* 탑바 CSS 끝 */
/* 탑배너 CSS 시작 */
/* 탑배너 CSS 시작 */

.top_banner_img{
    height:600px;
    background-image: url(../img/banner.jpg);
    width:1200px;
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: center 0;
}
.top_banner{
    position: relative;
}
.background_line{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #FFEA53;
    width:100%;
    height: 519px;
    z-index: -1;
}
.mobile_menu_btn{
    display: none;
}




@media screen and (min-width:1200px) {
	
.con-min-width{
    min-width: var(--site-width);
}

:root{
    --site-width:1080px
}
/* pc버전css 끝*/
}

@media screen and (min-width:768px) and (max-width: 1200px) {
    body{font-size: 15px;}
    .top_banner_img{
        height:50vw;
        width:100%;
        background-size: 100% auto;
    }
	/* Tablet */
    .background_line{
        display:none;
    }
    .menu_area{display: flex;}
    .mobile_menu_btn{display: none;}


}


@media screen and (max-width:767px){ 
	/* Mobile */
    .pc_top_bar{
        height:50px;
    }
    .con > a:first-child > img{
        height: 40px;
    }
    .menu_area{
        display: none;
    }
    .mobile_menu_btn{
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }
    .mobile_menu_btn > a{
        display: flex;
        align-items: center;
    }
    .mobile_menu_btn > a > img{
        width:30px;
    }
    .mobile_menu_area > a{
        margin-right: 20px;
        margin-top: 15px;
        margin-left: auto;
        
    }
    .mobile_menu_area > a > .close_img{
        width:30px;
        
    }
    .mobile_menu_area::before{
        content: '';
        position: relative;
    }
    .mobile_menu_area{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: antiquewhite;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .mobile_menu_area > .menu_1 > .menu_1_ul{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
    .mobile_menu_area > .menu_1 > .menu_1_ul > li{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile_menu_area > .menu_1 > .menu_1_ul > li:first-child{
        margin-top: 40px;
    }
    .mobile_menu_area > .buy_btn{
        align-items: center;
        text-align: center;
        height: 40px;
        margin: 40px;
    }
    .mobile_menu_area > .buy_btn > span{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .globe_area{
        margin-left: auto;
        margin-right: auto;
    }
    .globe{
        margin-left: 0;
    }




    .top_banner_img{
        height:125vw;
        background-image: url(../img/ggong.png);
        width:90%;
        background-size: 90% auto;
        background-position: center 40vw;
    }
    .background_line{
        background-color: #FFEA53;
        width:100%;
        height: 120vw;
        z-index: -1;
    }
}