/* pc버전css 시작*/
/* 탑바 CSS 시작 */
body{margin-top: 80px;}
section{border-bottom: 15px solid rgba(0,0,0,0.1);}

.pc_top_bar{
    height:80px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index: 10;
    background-color: white;
}

.con{
    width: var(--site-width);
    margin-left: auto;
    margin-right: auto; 
    height: 100%;
    display: flex;
    
}
.con > a:first-child{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.con > a:first-child > img{
    height: 70px;
    z-index: 2;
}
.menu_area{
    display: flex;
    margin-left: auto;
}
.menu_1{
    align-items: center;
}

.menu_1 > .menu_1_ul{
    height: 100%;
    display: flex;
}
.menu_1 > .menu_1_ul > li > a{
    display: flex;
    height:100%;
    padding:10px;
    align-items: center;
}
.buy_btn{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 60%;
    display: flex;
    align-items: center;
    background-color: #FFDD00;
    border-radius: 23px;
    padding-left: 13px;
    padding-right: 13px;
}
.globe{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.globe_area{
    width:50px;
    padding:13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.globe_img{

    width:25px
}

.menu_1 > .menu_1_ul > li:hover > a{
    text-decoration: underline;
    position: relative;

}
.menu_1 > .menu_1_ul > li:hover > a{
    text-decoration: underline;
    position: relative;

}
.menu_1 > .menu_1_ul > li> a::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: black;
}
.menu_1 > .menu_1_ul > li:hover> a::after{
    width: 100%;
    transition: width .2s;
}
/* 탑바 CSS 끝 */
/* 탑배너 CSS 시작 */
/* 탑배너 CSS 시작 */

.top_banner_img{
    height:600px;
    background-image: url(../img/banner.jpg);
    width:1200px;
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: center 0;
    position: relative;
}
.top_banner{
    border: 0px;
    position: relative;
}
.background_line{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #FFEA53;
    width:100%;
    height: 519px;
    z-index: -1;
}
.mobile_menu_btn{
    display: none;
}
.top_banner > .top_banner_img > .top_banner_font_area{
    position: relative;
    width: 100%;

}
.top_banner > .top_banner_img > .top_banner_font_area > .top_banner_font{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.top_banner > .top_banner_img > .top_banner_font_area > h1{
    font-size: 40px;
    margin-top: 90px;
    margin-left: 50px;
    line-height: 1.4;
}
.top_banner > .top_banner_img > .top_banner_font_area > span{
    font-size:  20px;
    margin-top: 220px;
    margin-left: 50px;
    line-height: 1.8;
    color:rgba(0,0,0,0.6)
}
.content_box {
    display: block;
    width:100%;
    height: 500px;
    padding-bottom: 30px;

}
.content_box_area{
    background-color: rgba(255,221,0,0.1);
    justify-content: space-between;
    height:500px;
    
}
.content_img{
    width:400px;
    margin:auto auto auto auto;
}
.content_box_area > .content_img > img{
    width: 400px;
    height: 300px;
}
.content_box > .content_box_area > .content_description{
    margin:auto;
}
.content_box > .content_box_area > .content_description > h1{
    display: inline;
    font-size: 30px;
    position: relative;
}
.content_box > .content_box_area > .content_description > h1::after{
    content: '';
    top:10px;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(255,221,0,0.8);
    position: absolute;
    width:100%;
    height:35px;
    z-index:-1;

}
.content_box > .content_box_area > .content_description > span{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    color:rgba(0,0,0,0.6)
}
.content_box > .content_box_area > .content_description > ul{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    line-height: 2;
    color:rgba(0,0,0,0.6)
}
.Certification_details_area{
    flex-direction: row-reverse;
}
.Certification_details_area > .Certification_detail_img{

    margin-left:auto;
}
.Certification_details_area > .Certification_details_description{
    margin-left: 50px;
}
@media screen and (min-width:1200px) {
	
.con-min-width{
    min-width: var(--site-width);
}

:root{
    --site-width:1080px
}
/* pc버전css 끝*/
}

@media screen and (min-width:768px) and (max-width: 1200px) {
    body{font-size: 15px;}
    .top_banner_img{
        height:50vw;
        width:100%;
        background-size: 100% auto;
    }
	/* Tablet */
    .background_line{
        display:none;
    }
    .menu_area{display: flex;}
    .mobile_menu_btn{display: none;}

    .top_banner > .top_banner_img > .top_banner_font_area > h1{
        margin-top:7vw;
        margin-left: 80px;
        font-size: 3.5vw;
    }
    .top_banner > .top_banner_img > .top_banner_font_area > span{
        margin-top: 18vw;
        margin-left: 80px;
        font-size: 1.7vw;
    }
    .happychicken_img{
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }
    .happychicken_area{
        height:40vw;
    }
    .happychicken_area > .happychicken_img > img{
        margin-left: 40px;
        width: 100%;
        height: auto;
    }
    .content_box > .content_box_area > .content_description{
        margin-top:auto;
        margin-bottom: auto;
    }
    .content_box > .content_box_area > .content_description > h1{
        font-size: 2.7vw;
        margin-left: 80px;
    }

    .content_box > .content_box_area > .content_description > span{
        display: inline-block;
        font-size: 1.7vw;
        margin-left:  80px;

    }
    .content_box{
        height:55vw;
    }
    .Certification_details > .Certification_details_area > .Certification_details_description > h1{
        font-size: 2.7vw;
        margin-left: 10px;
    }
    .Certification_details > .Certification_details_area > .Certification_details_description > ul{
        font-size: 1.7vw;
        margin-left: 10px;
    }

}


@media screen and (max-width:767px){ 
	/* Mobile */
    .pc_top_bar{
        height:80px;

    }
    .con > a:first-child > img{
        height: 60px;
    }
    .menu_area{
        display: none;

    }
    .mobile_menu_btn{
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }
    .mobile_menu_btn > a{
        display: flex;
        align-items: center;
    }
    .mobile_menu_btn > a > img{
        width:30px;
    }
    .mobile_menu_area > a{
        margin-right: 20px;
        margin-top: 15px;
        margin-left: auto;
        
    }
    .mobile_menu_area > a > .close_img{
        width:30px;
        
    }
    .mobile_menu_area::before{
        content: '';
        position: relative;
    }
    .mobile_menu_area{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: antiquewhite;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .mobile_menu_area > .menu_1 > .menu_1_ul{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
    .mobile_menu_area > .menu_1 > .menu_1_ul > li{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile_menu_area > .menu_1 > .menu_1_ul > li:first-child{
        margin-top: 40px;
    }
    .mobile_menu_area > .buy_btn{
        align-items: center;
        text-align: center;
        height: 40px;
        margin: 40px;
    }
    .mobile_menu_area > .buy_btn > span{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .globe_area{
        margin-left: auto;
        margin-right: auto;
    }
    .globe{
        margin-left: 0;
    }
    .top_banner_img{
        height:560px;
        background-image: url(../img/ggong.png);
        width:90%;
        background-size: 340px auto;
        background-position: center 200px;
        
    }
    .background_line{
        background-color: #FFEA53;
        width:100%;
        height: 537px;
        z-index: -1;
    }
    
    .top_banner > .top_banner_img > .top_banner_font_area > h1{
        margin-left: 0;
        text-align: center;
        font-size: 25px;
        margin-top: 40px;
        line-height: 1.2;
        
    }
    .top_banner > .top_banner_img > .top_banner_font_area > span{
        margin-left: 0;
        text-align: center;
        font-size:  15px;
        margin-top: 120px;
        line-height: 1.8;
        color:rgba(0,0,0,0.7)
    }
    .content_box{
        margin-top:20px;
        height:540px;
    }
    .content_box_img{
        width:100%;
        margin: 0;

    }
    .content_box_img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
    .content_box_area{
        width:100%;
        flex-direction: column-reverse;
        height:500px;
        padding-bottom: 50px;
        background-color: white;

        
    }
    .content_box > .content_box_area > .content_description{
        margin-top: 30px;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }
    .content_box > .content_box_area > .content_description h1{
        margin-bottom: 5px;
        font-size: 20px;
        z-index: 2;
    }
    .content_box > .content_box_area > .content_description span{
        
        font-size: 12px;
    }
    .content_box > .content_box_area > .content_description > h1::after{
        height: 20px;
        background-color: #FFDD00;
        z-index: -1;
    }
    .content_box > .content_box_area > .content_description ul{
        text-align: left;
        font-size: 12px;
    }
    .Certification_details{
        margin-top: 130px;
        height: 500px;
    }
    .

}